<p id="notice"><%= notice %></p>

<h1>Омар Хайям</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
  <p>В любимом человеке нравятся даже недостатки, <br>
  а в нелюбимом раздражают даже достоинства.</p>
