<p id="notice"><%= notice %></p>

<h1>Омар Хайям</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
<div>
  <img src="hajyam.jpg" alt="Омар Хайям"/>
</div>
<p>В любимом человеке нравятся даже недостатки, <br>
  а в нелюбимом раздражают даже достоинства.
</p>
<div>
  <ul>
    <li>
      <a href="resume.html">Моё резюме</a>
    </li>      
    <li>
      <a href="video.html">Омар Хайям - Мудрости Жизни</a>
    </li>
  </ul>
</div>
<div class="footer">
  <ul class="col-sm-4">
    <li class="footer__link-item">&copy;
      Заборенко Дмитрий </li>
    <li class="footer__link-item"><a href="mailto:zaborenkodm@gmail.com">zaborenkodm@gmail.com</a></li>
  </ul>
</div>
