<p id="notice"><%= notice %></p>

<h1>Омар Хайям</h1>

<img src="hajyam.jpg" alt="Омар Хайям"/>
<p>В любимом человеке нравятся даже недостатки, <br>
  а в нелюбимом раздражают даже достоинства.
</p>
<div>
  <ul>
    <li>
      <a href="resume.html">Моё резюме</a>
    </li>      
    <li>
      <a href="video.html">Омар Хайям - Мудрости Жизни</a>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li>&copy; Заборенко Дмитрий </li>
    <li><a href="mailto:zaborenkodm@gmail.com">zaborenkodm@gmail.com</a></li>
  </ul>
</div>
